@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}  

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    height: 100vh;
}

button {
    padding: 1rem 1.5rem;
    background-color: rebeccapurple;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 1rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.1s linear;
}

button:focus {
    outline: none;
}

button:active {
    box-shadow: 0;
    transform: translate(4px 4px);
}